@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/Fira%20Mono/FiraMono.woff') format('woff'), 
         url('fonts/Fira%20Mono/FiraMono.woff2') format('woff2'), 
         url('fonts/Fira%20Mono/FiraMono.ttf')  format('truetype'),
}

@font-face {
    font-family: 'Minecraftia';
    src: url('fonts/Minecraftia/Minecraftia-Regular.woff') format('woff'), 
         url('fonts/Minecraftia/Minecraftia-Regular.woff2') format('woff2'), 
         url('fonts/Minecraftia/Minecraftia-Regular.ttf')  format('truetype'),
}

@font-face {
    font-family: 'MesloLGS NF Regular';
    src: url('fonts/MesloLGS/MesloLGS-NF-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'MesloLGS NF Bold';
    src: url('fonts/MesloLGS/MesloLGS-NF-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'MesloLGS NF Bold Italic';
    src: url('fonts/MesloLGS/MesloLGS-NF-Bold-Italic.ttf') format('truetype'),
}
@font-face {
    font-family: 'MesloLGS NF Italic';
    src: url('fonts/MesloLGS/MesloLGS-NF-Italic.ttf') format('truetype'),
}
